<h1>タスク編集</h1>
<%= form_with(model: @task, local: true, url: task_path ) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= @task.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.label :name, "タスク名" %><br>
  <%= f.text_field :name %><br>
  <%= f.label :price, "タスク詳細" %><br>
  <%= f.text_field :detail %><br>
  <%= f.label :dead_line, "終了期限" %><br>
  <%= f.date_field :dead_line, id:"task_dead_line" %><br>
  <%= f.label :status, "ステータス" %><br>
  <%= f.select :status, [['未着手', '未着手'], ['着手中', '着手中'], ['完了', '完了']],
                         { include_blank: false, selected: 1 },
                         { id: "task_status" } %><br>
  <%= f.submit "更新する", name: "commit", data: {disable_with:"editting･･･"} %><br>
  <%= link_to '詳細', task_path(@task.id) %>
  <%= link_to '戻る', :back %>
<% end %>
