<!DOCTYPE html>
<html>
  <head>
    <title>Manyo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar">
      <div class="container_fluid">
        <div class="nav navbar-nav navbar-left"">
          <%= link_to "ホーム", tasks_path %>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <% if logged_in? %>
          <%= link_to "マイページ", user_path(current_user.id) %>
            <%= link_to "ログアウト", session_path(current_user.id), method: :delete %>
          <% else %>
            <%= link_to "サインアップ", new_user_path %>
            <%= link_to "ログイン", new_session_path %>
          <% end %>
        </ul>
      </div>
    </nav>
    <div class="container">
      <div class="notice">
        <% flash.each do |key, value| %>
          <p><%= content_tag(:div, value, class: "#{key}") %></p>
        <% end %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
