<!DOCTYPE html>
<html>
  <head>
    <title>Manyo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <nav class="navbar">
        <div class="container_fluid">
          <div class="nav navbar-nav navbar-left"">
            <%= link_to "My Tasks", tasks_path %><%= " |"%>
            <%= link_to "My Calender", calender_tasks_path %>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <% if logged_in? %>
              <% if current_user.admin %>
                <%= link_to "全タスク閲覧", admin_tasks_path %>
                <%= link_to "ユーザー管理", admin_users_path %>
              <% end %>
              <%= link_to "Teams", teams_path %><%= " |"%>
              <%= link_to "My Labels", labels_path %><%= " |"%>
              <%= link_to "#{current_user.name}'s page", user_path(current_user.id) %><%= " |"%>
              <%= link_to "Logout", session_path(current_user.id), method: :delete %>
            <% else %>
              <%= link_to "Signup", new_user_path %>
              <%= link_to "Login", new_session_path %>
            <% end %>
          </ul>
        </div>
      </nav>
      <div class="notice">
        <% flash.each do |key, value| %>
          <p><%= content_tag(:div, value, class: "#{key}") %></p>
        <% end %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
